nav {
    position: fixed;
    top: 0px;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mainnav {
    display: flex;
    flex-direction: row;
}

.justify-content-end{
    margin-right: 14px
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}